
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
#addimagebtn{
  margin:10px;
  padding:10px;
  font-style: italic;
  font-size: 20px;
  width: auto;
  height: auto;
}
#canvas{
  position: absolute;
  height: 900px;
  width: 1450px;
  border:solid 3px black;
}
img{
  margin-top: 10px;
}

#headers{
 margin-left: 2%;
 font-size: 20px;
 font-family: 'Times New Roman', Times, serif;
 color: white;
 border:1px solid white;
 font-weight: bold;
}
div a{
 margin-left: 2%;
}
 
#overlay { 
  position: fixed; 
  overflow-y: scroll;
  top: 0; right: 0; bottom: 0; left: 0;
  display: none; 
 }

  
  #sendimagetoserver{
    margin-top: 10px;
    height: 100px;
    width: 250px;
    background-color: violet;
  }
  #sendimagetoserver:hover{
    box-shadow: 5px 5px 5px 5px wheat  ;
  }

  #addimage-area{
    width: 100%;
    height:100vh;
 background: url(https://i.ytimg.com/vi/P7dF3e1YRFo/maxresdefault.jpg) ;
 background-size: cover;
 background-repeat: no-repeat; 
background-position: center center;  
}

h2{
    color: aliceblue;
    background-color: rgb(25, 39, 39);
    width:auto;
    display: inline-block;
}
h3{
    color:white;
    font-weight: bold;
}
#previewbtn{
  height: 100px;
  width: 250px;
}
#previewbtn:hover{
  box-shadow: 5px 5px 5px 5px wheat  ;
}
  #description{ 
    border: turquoise dotted 2px;
    cursor: auto;
      background-color: white;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
      width: 400px;
      height: 250px;
      margin-left:5px;
      max-width: 90%;
  }
  #url_textbox{
    cursor: auto;
    width: 400px;
    height: 30px;
    background-color: white;
    margin-left:5px;
    max-width: 90%;
  }
  #submit{
      width: 90px;
      height: 20px;
  }
  #box1{
      top:20%;
  }