
#c{
    border: black 1px solid;
    position: relative;
  }

#canvasDiv{
    position: relative;
    width: 100%;
}
#canvasbtn{
    position: absolute;
    right:  0%;
    bottom: 3;
    width: 7%;
    height: 25%;
}
#reset {
    border-radius: 35px;
    height: 33%;
    width: 100%;
    margin-bottom: 3px;
    min-width: 70px;
    background-color: transparent;
    background-image:url('/images/home.png');
    background-size: cover;
    background-position: center center; 
}
#zoomin{
    margin-bottom: 3px;
    border-radius: 35px;
    top:10px;
    height: 33%;
    width: 100%;
    min-width: 70px;
    background: transparent url('/images/zoomin.png');
    background-size: cover;
    background-position: center center; 
}
#zoomout{
    padding: 3px;
    border-radius: 35px;
    height: 33%;
    width: 100%;
    min-width: 70px;
    background: transparent url('/images/zoomout.png');
    background-size: cover;
    background-position: center center; 
}
