
#c{
    border: black 1px solid;
    position: relative;
  }

#canvasDiv{
    position: relative;
}
#canvasbtn{
    position: absolute;
    right: 4px;
    bottom: 3px;
    width: 15vw;
    max-width: 140px;
    height: 25%;
}
#reset {
    border-radius: 35px;
    height: 32%;
    width: 100%;
    margin-bottom: 3px;
    max-width: 70px;
    min-width: 40px;
    background-color: transparent;
    background-image:url('/images/home.png');
    background-size: cover;
    background-position: center center; 
}
#zoomin{
    margin-bottom: 3px;
    border-radius: 35px;
    top:10px;
    height: 32%;
    width: 100%;
    max-width: 70px;
    min-width: 40px;
    background: transparent url('/images/zoomin.png');
    background-size: cover;
    background-position: center center; 
}
#zoomout{
    padding: 3px;
    border-radius: 35px;
    height: 32%;
    width: 100%;
    max-width: 70px;
    min-width: 40px;
    background: transparent url('/images/zoomout.png');
    background-size: cover;
    background-position: center center; 
}
#confirm{
    position: absolute;
    bottom:10px;
    display: none;
    margin-left: auto;
}
