

* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
 }
 h1{
    color: black;
    font-weight: bold;
}
#login_area{
   width: 100vw;
   height: 100vh;
background: url(https://athlonsports.com/sites/athlonsports.com/files/styles/article_top_img/public/goldmedal_PyeongChang_Olympics_2018_0.jpg?itok=Kcx0Bq3C);
background-size: cover;
background-repeat:   no-repeat; 
background-position: center center;  
} 
 .login-box{
   width: 280px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: white;
}
.login-box h1{
   float: left;
   font-size: 40px;
   border-bottom: 2px solid rgba(51, 29, 29, 0.966);
   margin-bottom: 20px;
   padding: 13px 0;
}
.textbox{
   width: 100%;
   overflow: hidden;
   font-size: 20px;
   padding:8px;
   margin: 8px 0;
   border-bottom: 2px solid red;
} 