<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Image</title>
    <script src="/script/jquery-3.4.1.min.js"></script>
    
    <link rel="stylesheet" href="/css/addImage.css">
    <link rel="stylesheet" href="/css/headers.css">
</head>
<body>
        <nav id="topbar">
        </nav>
<section id="overlay">
        <div id='pop'>
        <button class='pop_close'>Close   (X)</button>
       <img id ='pop_image' src="" alt="">
       <p id='headers'>Description: </p> <p id='pop_description'> </p>
       <br><p id='headers'>Link:   </p> <a id= 'pop_url'href="google.com">Url goes here</a> <br>
       <button class='pop_close'>Close   (X)</button>
       </div>
     </section>
<div id="addimage-area">
           <span id="highlight"><h2>Add Image Here: </h2></span>
            <br>
            <h3>Description:</h3>
            <textarea id="description">
            </textarea>
            
            <br>
            <h3>URL to any website you want!</h3>
            <input type="text" name="website_url" id="url_textbox">
            <br>
            
        <br>
        <button id=previewbtn style="background-color:aqua"><h1 style="color:black; font-weight: bold; "> Show Preview</h1></button>
        <br><button id=sendimagetoserver onclick="senddatatoserver()">SUBMIT</button>
        <img id=testimg src="/images/greensquare.png" alt="">
</div>

<script>
    var image = localStorage.getItem('image');
    document.getElementById('pop_image').src=`${image}`
    image=image.substr(image.indexOf(',') + 1);//strips off the data:/jpeg:base64 thing,so it is pure base64 data
    console.log(image)
    $('#previewbtn').click(function(){
        description=document.getElementById('description').value
        url= document.getElementById('url_textbox').value
        if(url.substring(0,3)!='http'){
            url=`https://${url}`
        }

  document.getElementById('pop_description').innerHTML=`${description}`;
  document.getElementById('pop_url').innerHTML=`${url}`;
  document.getElementById('pop_url').href=url;
  $('#overlay').css({'display':'block'});
    });
$('.pop_close').click(function(){
$('#overlay').css({'display':'none'});
});
const contentType = 'image/png';
 
const b64toBlob = (b64Data, contentType='', sliceSize=512) => {
  const byteCharacters = atob(b64Data);
  const byteArrays = [];

  for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
    const slice = byteCharacters.slice(offset, offset + sliceSize);

    const byteNumbers = new Array(slice.length);
    for (let i = 0; i < slice.length; i++) {
      byteNumbers[i] = slice.charCodeAt(i);
    }

    const byteArray = new Uint8Array(byteNumbers);
    byteArrays.push(byteArray);
  }
    
  const blob = new Blob(byteArrays, {type: contentType});
  return blob;
}
image = b64toBlob(image, contentType);


function senddatatoserver(){
    var locationlist=localStorage.getItem('location')
    var pointerlocation=localStorage.getItem('pointerlocation')
    var height=localStorage.getItem('height');
    var width=localStorage.getItem('width');
    var description=document.getElementById('description').value
    var url= document.getElementById('url_textbox').value
    var data= new FormData();
    data.append('pointerlocation',pointerlocation);
    data.append('locationlist',locationlist );
    data.append('image',image );
    data.append('description',description);
    data.append('url',url );
    data.append('height',height );
    data.append('width',width );
    $.ajax({
    url: "/update",
    data: data,
    processData: false,
contentType: false,
    type: "POST",
   success: function(result) {   
    $("#testimg").attr({ "src": `data:image/png;base64,${image}` });
    
}
});
    
}


</script>
<script src="/script/flexibleview.js"></script>
<script src="/script/addimages.js"></script>
</body>
</html>