<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Image</title>
    <script src="/script/jquery-3.4.1.min.js"></script>
    <script src="/script/fabric_with_touch.js"></script>
    <link rel="stylesheet" href="/css/addImage.css">
    <link rel="stylesheet" href="/css/headers.css">
    
</head>
<body>
        <nav id="topbar">
        </nav>
 <section id="overlay">
        <div id='pop'>
        
       <img id ='pop_image' src="" alt="">
       <button class='pop_close'>Close </button>
       <p id='headers'>Description: </p> 
       <textarea id='pop_description'  placeholder="(looks like you didn't enter a description!)" readonly></textarea>
       <br><p id='headers'>Link:   </p> <a id= 'pop_url'href="google.com">Url goes here</a> <br>
       <button class='pop_close'>Close</button>
       </div>
     </section>
     
<div id="addimage-area">
           <span id="highlight"><h2>Add Image Here: </h2></span>
            <br>
            <h3>Description:</h3>
            <textarea id="description" placeholder="You can write anything here!(max rows is 20)"rows="40" cols="50"></textarea>
            
            <br>
            <h3>URL to any website you want!</h3>
            <input type="text" name="website_url" id="url_textbox">
            <br>
            
        <br>
        <button id=previewbtn style="background-color:aqua"><h1 style="color:black; font-weight: bold; "> Show Preview</h1></button>
        <br><button id=sendimagetoserver onclick="senddatatoserver()">SUBMIT</button>
</div> 
<section>
  <canvas id='c' ></canvas>
</section>




<script>
  var canvas = new fabric.Canvas('c');
  canvas.setHeight(900);
canvas.setWidth(1450);
canvas.renderAll();
layer1=localStorage.getItem('layer1')
  layer1=JSON.parse(layer1)
  layer2=localStorage.getItem('layer2')
  layer2=JSON.parse(layer2)
var pointerlocation=localStorage.getItem('pointerlocation')
    var height=localStorage.getItem('height');
    var width=localStorage.getItem('width');
 var image = localStorage.getItem('image');

  function get_layer_blobs_step1(){
    console.log('layer1',layer1)
console.log('layer2',layer2)
  // loads layer2 at the locations of the image
    loadlocationimage(layer2,2,layer2.length)
  
  //loads layer1 at the location of the image minus the need to change part

  
    loadlocationimage(layer1,1,layer1.length)
  

  //loadimage(scale,scaleamountX,scaleamountY,location,level,img_imgurl,finalimg=false)

}

function step2(){
  var timeout=0;
    for(let i=0;i<layer2.length;i++){
  setTimeout(`blobfromlocation(layer2[${i}],2)`, 500+i*500); 
  timeout+=i;
    }
    step3(timeout)
}
function step3(timeout){
  for(var i=0;i<layer1.length;i++){
    setTimeout(`blobfromlocation(layer1[${i}],1)`, timeout*500+i*500); 
  }
}

    if(image==undefined){
      alert("you don't have an image!")
      window.location.href = "./";   
    }
    document.getElementById('pop_image').src=`${image}`
    ///THIS PART CONVERTS THE USER UPLOADED IMAGE INTO BLOBS 
    const contentType = 'image/png';
const b64toBlob = (b64Data, contentType='', sliceSize=512) => {
  const byteCharacters = atob(b64Data);
  const byteArrays = [];

  for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
    const slice = byteCharacters.slice(offset, offset + sliceSize);

    const byteNumbers = new Array(slice.length);
    for (let i = 0; i < slice.length; i++) {
      byteNumbers[i] = slice.charCodeAt(i);
    }

    const byteArray = new Uint8Array(byteNumbers);
    byteArrays.push(byteArray);
  }
    
  const blob = new Blob(byteArrays, {type: contentType});
  return blob;
}
    if(image.substring(0,5)=='data:'){
        
      image=image.substr(image.indexOf(',') + 1);//strips off the data:/jpeg:base64 thing,so it is pure base64 data
    imageblob = b64toBlob(image, contentType);
    }else{
      imageblob=image
    }
  ///
function senddatatoserver(){
  get_layer_blobs_step1()
    var description=document.getElementById('description').value
    var url= document.getElementById('url_textbox').value
    if(url.substring(0,3)!='http'){
            url=`https://${url}`
        }
    var data= new FormData();
    data.append('image',imageblob );
    data.append('pointerlocation',pointerlocation);
    data.append('description',description);
    data.append('url',url );
    data.append('height',height );
    data.append('width',width );
    $.ajax({
    url: "/update",
    data: data,
    processData: false,
contentType: false,
    type: "POST",
   success: function(result) {   
   console.log('successfully uploaded the image to server!')
    // window.location.href = "./";
}
});

}
function auto_grow() {
    element=document.getElementById('pop_description')
    element.style.height = "5px";
    element.style.height =$('#description')[0].scrollHeight+"px";
}
$('.pop_close').click(function(){
$('#overlay').css({'display':'none'});
});

$('#previewbtn').click(function(){
      if($('#description')[0].scrollHeight>450){
    alert('your description is too long, the max lines is 30')
  }else{
        description=document.getElementById('description').value
        url= document.getElementById('url_textbox').value
        if(url.substring(0,3)!='http'){
            url=`https://${url}`
        }
          document.getElementById('pop_description').innerHTML=description;
          auto_grow()
          document.getElementById('pop_url').innerHTML=`${url}`;
          document.getElementById('pop_url').href=url;
          $('#overlay').css({'display':'block'});        
  } });
var layeronearray=[];
 var layertwoarray=[];
 var layerthreearray=[];
 var layerfourarray=[]
</script>

<script src="/script/flexibleview.js"></script>
<script src="/script/mosaicfunctions.js"></script>
</body>
</html>