<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Image</title>
    <script src="/script/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/addImage.css">
    <link rel="stylesheet" href="/css/headers.css">
</head>
<body>
        <nav id="topbar">
       
            </nav>
<section id="overlay">
        <div id='pop'>
       <img id ='pop_image' src="https://www.tokkoro.com/picsup/1434470-landscape.jpg" alt="">
       <p id='headers'>Description: </p> <p id='pop_description'>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>
       <br><p id='headers'>Link:   </p> <a id= 'pop_url'href="google.com">Url goes here</a> <br>
       <button id='pop_close'>Close</button>
       </div>
     </section>
     <h1>THIS PAGE IS UNDER CONSTRUCTION</h1>
<div id="addimage-area">
           <span id="highlight"><h2>Add Image Here: </h2></span>
        <form action="/addImage" >
            <!-- method="POST" -->
            <br>
            <h3>Where do you want your image to be?(row 5 column 4 is 54):</h3>
            <input  type="text" name="location" class="textbox">
            <br>
            <h3>Image_url:</h3>
            <input type="text" name="image_url" class="textbox">
            <br>
            <h3>Description:</h3>
            <input type="text" name="description" class="textbox">
            <br>
            <h3>URL to your website(this website will open when users click on your image)</h3>
            <input type="text" name="website_url" class="textbox">
            <br>
            <br>
            <input type="submit" value="Submit" id="submit">
        </form>
        <br>
        <button id=previewbtn style="background-color:aqua"><h1 style="color:black; font-weight: bold; "> Show Preview</h1></button>
</div>

<script>
    $('#previewbtn').click(function(){
        const form = document.querySelector('form');
        const data = Object.fromEntries(new FormData(form).entries());
imgUrl=data['image_url'];
description=data['description']
url=data['website_url'];

document.getElementById('pop_image').src=`${imgUrl}`;
  document.getElementById('pop_description').innerHTML=`${description}`;
  document.getElementById('pop_url').innerHTML=`${url}`;
  document.getElementById('pop_url').href=`${url}`;
  $('#overlay').css({'display':'block'});
    });
    
$('#pop_close').click(function(){
$('#overlay').css({'display':'none'});
});

</script>
<script src="/script/flexibleview.js"></script>
</body>
</html>