<!DOCTYPE html>
   <html lang="en" dir="ltr">
       <head>
           <meta charset="UTF-8">
           <title>Transparent Login</title>
           <link rel="stylesheet" href="/css/login.css">
            <meta name="google-signin-scope" content="profile email">
           <meta name="google-signin-client_id" content="241340643815-b5ill5ncpsagh5qq9p64q5ifb7ps341r.apps.googleusercontent.com">
        </head>
   <body>

        <nav>
                <p> <a href="/">MosaicTokyo </a> </p>
                <ul>
                          <li><a href="./contact">Contact</a></li>
                          <li><a href="./login">Log-In</a></li>
                          <li><a href="./addImage">Upload</a></li>
                          
                </ul>
                  </li>
              </ul>
          </nav>
          
<div id="login_area"><br>
    <div class="login-box">
            <h1>login</h1>
        <div class="textbox">
           <i class="fas fa-user"></i>
            <input type="text" placeholder="username" name="" value="">
        </div>

        <div class="textbox">

            <input type="password" placeholder="password" name="" value="">
        </div>

</body>
</html>