
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <script src="/script/jquery-3.4.1.min.js"></script>
    <script src="/script/fabric_with_touch.js"></script>
      <script src="dropzone.js"></script>
      <link rel="stylesheet" href="/css/home.css">
      <link rel="stylesheet" href="/css/headers.css">
      <link rel="stylesheet" href="/css/canvasbuttons.css">
      <title>Mosaic Tokyo 2.0!</title>
    </head>
    <body>
        <nav id="topbar">
          </nav>
<div id=uploadImages>

</div>



<div id='canvasDiv'>
   <canvas id="c"></canvas>
   <div id=confirm>
     <img style="width: 100px; height: 100px;" onclick="cancelupload()" src="/images/cancel.png" alt="">
<img style="width: 140px;height: 105px;" onclick="confirmupload()"  src="/images/confirm.png" alt="">
   </div>



    <div id='canvasbtn'>
    <button id="reset"></button>
   <button id="zoomin" onclick="zoomcanvasbutton('true')"></button>
   <button id='zoomout' onclick="zoomcanvasbutton('false')"> </button>
   </div>
   
</div>


<section id="overlay">
     <div id='pop'>
    <img id ='pop_image' src="https://www.tokkoro.com/picsup/1434470-landscape.jpg" alt="">
    <p id='headers'>Description: </p> <p id='pop_description'>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>
    <br><p id='headers'>Link:   </p> <a id= 'pop_url'href="google.com">Url goes here</a> <br>
    <button id='pop_close'>Close</button>
    </div>
  </section>
  <!-- <div>
     <button id="show">Press for debugging info</button>
    <h2 id="cordination" class=hidden>x | y</h2>
    <h2 id=location class=hidden style ="display: inline-block; left: 20%;">location for layer 1:  | location for layer2: |location for layer3: </h2>
    <h2 id="zoomlevel" class=hidden>0</h2>
  <button id="reset" class=hidden>RESET</button>

  </div> -->


<script>
var jdata_location=[];
var jdata_url=[];
var jdata_imageurl=[];
var jdata_level=[];
</script>

            {% for entry in data %}
            <script>    
            jdata_location.push("{{entry.location}}");
            jdata_url.push("{{entry.url}}");
            jdata_imageurl.push("{{entry.image_url}}");
            jdata_level.push('{{entry.level}}')  
         </script>              
            {% endfor %}
        
      <script src="/script/script.js"></script>
      
      <script src="/script/addimages.js"></script>
      <script src="/script/flexibleview.js"></script>
    </body>
    </html>
    
    
    