
<html>
    <head>
    <script src="/script/jquery-3.4.1.min.js"></script>
    <script src="/script/fabric.js"></script>
      <link rel="stylesheet" href="/css/home.css">
      <!-- <title>Mosaic Tokyo 2.0!</title> -->
    </head>
    <body>

    
 <nav> 
 <p> <a href="/">MosaicTokyo</a> </p>             

<ul>
<li><a href="./contact">Contact</a></li>
<li><a href="./login">Log-In</a></li>                         
<li><a href="./addImage">Upload</a></li>
<img id='logo' src="https://www.snopes.com/tachyon/2019/07/olympics-logo-fake-snopes.jpg?resize=100,50" alt="">
</ul>
</li>
</ul>
</nav> 
<div class="ms-OverlayExample">
    <div class="ms-Overlay"></div>
     <div id='pop'>
    <img id ='pop_image' src="https://www.tokkoro.com/picsup/1434470-landscape.jpg" alt="">
    <p>Description: </p> <p id='pop_description'>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah </p>
    <br><p>Link:   </p> <a id= 'pop_url'href="google.com">Url goes here</a> <br>
    <button id='pop_close'>Close</button>
    </div>
  </div>
  <script type="text/javascript">
    var OverlayExamples = document.querySelectorAll(".ms-OverlayExample");
    for (var i = 0; i < OverlayExamples.length; i++) {
      (function() {
        var OverlayComponent = OverlayExamples[i].querySelector(".ms-Overlay");
        var Overlay = new fabric['Overlay'](OverlayComponent);
      }());
    }
  </script>


    <canvas id="c"></canvas>
    <button id="show">Press for debugging info</button>
    <h2 id="cordination" class=hidden>x | y</h2>
    <h2 id=location class=hidden style ="display: inline-block; left: 20%;">location for layer 1:  | location for layer2: |location for layer3: </h2>
    <h2 id="zoomlevel" class=hidden>0</h2>
  <button id="reset" class=hidden>RESET</button>
<script>
var jdata_location=[];
var jdata_url=[];
var jdata_imageurl=[];
var jdata_scale=[];
var jdata_level=[];
</script>
           
            {% for entry in data %}
            <script>    
            jdata_location.push("{{entry.location}}");
            jdata_url.push("{{entry.url}}");
            jdata_imageurl.push("{{entry.image_url}}");
            jdata_level.push('{{entry.level}}')
            jdata_scale.push('{{entry.scaleAmount}}')
            
         </script>              
            {% endfor %}
            
      <script src="/script/script.js"></script>
    </body>
    </html>
    
    
    